
@media screen and (min-width: 45em){


    main {
        max-width: 900px;
        margin: 0 auto;
        background-color: transparent;
    }
    
}




@media screen and (min-width: 60em){

    .maincontent {
        display: flex;
    }

    section {
        width: 70%;
    }

    aside {
        width: 39%;
        flex-wrap: wrap;
    }

    .events {
        width: 90%;
        margin: 0 auto;
    }

    .eventsbox {
        width: 90%;
    }





}