
@media screen and (min-width: 45em){


    main {
        max-width: 1100px;
        margin: 0 auto;
        background-color: transparent;
        
    }

    #temp {
        font-size: 3.5em;
    }

    .Dcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .listview .Ditem h2 {
        width: 250px;
    }

    .forecast {
        width: 90%;
    }

    .forecastFlex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .forecastInfo {
        margin-left: 0;
        width: 100%;
    }

    .Fcontent {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        margin: 0;
    }

    .Fcontent img {
        min-width: 75px;
    }

    .forecastInfo p:first-child {
        font-size: 1.2rem;
    }

    .forecastInfo p:nth-child(2) {
        max-width: 80px;
        margin: .5rem auto;
    }


    
}




@media screen and (min-width: 60em){

    .maincontent {
        display: flex;
    }

    section {
        width: 70%;
    }

    aside {
        width: 39%;
        flex-wrap: wrap;
    }

    .events {
        width: 90%;
        margin: 0 auto;
    }

    .eventsbox {
        width: 90%;
    }


    form {
        min-width: 600px;
        margin: 0 auto;
        width: 90%;
    }

    form label.top input {
        display: flex;
    }

    .forecast {
        width: 100%;
    }

    .forecastInfo p:first-child {
        font-size: 1.5rem;
    }

    .footerContent {
        margin: 0 auto;
    }
    
    .social {
        margin: 0 90px;
    }

}