@media screen and (min-width: 32.5em){

    
    body {
        background-image: url('/FinalProject/images/background_tucson-min2.png');
        width: 100%;
        background-color: #000000;
        max-width: 1566px;
        background-repeat: no-repeat;
        margin: 0 auto;
        background-position: top center;
    }

    nav {
        background-image: linear-gradient(#FAF0DB, #A28F80);
        border-top: 5px solid #0E0A4A;
        
    }

    nav ul li a {
        color: #0E0A4A;
    }
    
    nav ul {
        display: flex; 
       }
   nav ul li { 
       flex: 1 1 100%; 
   }

   .navigation {
       display: flex;
   

   }

    .navigation li:first-child {
       display: none;
   }

   .navigation li:last-child {
       border-right: 5px solid #0E0A4A;
   }

   .navigation li {
       display: block;
       flex: 1 1 auto;
       border-left: 5px solid #0E0A4A;
       border-bottom: 5px solid #0E0A4A;
   } 

   .active a {
       color:#FAF0DB;
   }

   header {
       flex-direction: row;
       background-color: transparent;
       margin-bottom: 10px;
       justify-content: space-between;
       gap: 10px;
   }
   .headerLeft {
       width: 74%;
       background-image: linear-gradient(#FAF0DB, #A28F80);
     
       border: 5px solid #0E0A4A;
    }

    .headerLeft h1, h2{
        color: #0E0A4A!important;

    }
  
   .headerRight {
       width: 25%;

       background-color: #0E0A4A;
       margin-top: 0px;
       margin-right: 0px;
   }

   .headerRight h3 {
       font-size: 1.5rem;
   }

   img.icon {
       display: block;
   }
   img.icon_mobile {
       display: none;
   }

   #temp {
       font-size: 3em;
       display: block;
       text-align: center;
       line-height: .8;
 
       margin-bottom: 10px;
   }

   #desc, #humid {
      
       font-style: italic;
       font-size: 1.2em;
        text-align: center;
        display: block;
   }


   header img {
       width: 25%;
   }

   header h2 {
       margin-top: -15px;
   }

   .homephotos {
       display: flex;
       width: 99%;
       gap: 5px;
       margin: 10px auto;
   }

   .homephotos img {
       min-width: 0;
       outline: 2px solid #FAF0DB;
       outline-offset: -10px;
       border: 5px solid #0E0A4A;
   }

   .homephotos img:hover {
       transform: scale(1.08);
       transition: .2s;
   }

   .maincontent {
       border: 5px solid #0E0A4A;
   }

   .advertisements {
       display: flex;
       justify-content: space-around;
       max-width: none;
   }

   .adbox {
       width: 25%;
       margin-bottom: 0;
   }

   .adbox img:hover {
    transform: scale(1.08);
    transition: .2s;
   }

   .adbox p {
    color: #0E0A4A;
    text-align: center;
   }



   .forecast {
       background-color: #086375;
       width: 80%;
       margin: 1em auto;
       padding-top: 20px;
       padding-bottom: 20px;
       display: block;
 
   }

   .forecast h1 {
        width: 100%;
       text-align: center;

       padding: 10px 0;
       margin: 0;
   }

   .forecastsection {
    background-color: #FAF0DB;
    width: 100%;
    border-top: 5px solid #0E0A4A;
    border-bottom: 5px solid #0E0A4A;
    margin-bottom: 15px;
   }

   .forecastsection p {
       color: #0E0A4A!important;
       width: 80%;
       margin: 0 auto;
       padding-bottom: 10px;
   }

   .forecast p {
       text-align: center;
       color: #FAF0DB;
   }

   .forecastItem {
       width: 80%;
       margin: .5em auto;
       display: block;
       background-color: #A28F80;
       padding-top: 10px;
       border:5px solid #0E0A4A;
   }



   .forecastHead p{
       font-size: 1.5rem;
       background-color: #0E0A4A;
       margin: 0;
       text-align: left;
       font-style: italic;
       padding-left: 15px;
       padding-bottom: 5px;
   }

   .Fcontent {
       margin: 0 auto;
       display: block;
       width: 90%;
   }
   
   .forecastItem img{
        float: left;
        margin-top: 3%;
        width: 25%;
        max-width: 100px;
   }

   .forecastInfo {
     
       background-color: #FAF0DB;
       border: 3px solid #0E0A4A;
       display: inline-block;
       margin-top: 15px;
       margin-bottom: 15px;
       width: 60%;
        padding-top: 10px;
        margin-left: 25px;
   }

   .forecastInfo p {
       color: #0E0A4A;
       font-weight: 600;
       margin-top: 0;
   }

   .forecastInfo p:first-child {
       font-size: 2.1rem;
       margin: 0;
   }

   

   .heatwarning {
       background-color: #0E0A4A;
        display: none;
   }

   .heatwarning p {
       padding: 10px 0;
       font-size: 1.2rem;
       font-style: italic;
   }


   aside {

       width: 90%;
       margin: 1em auto;
   }

   .eventcontainer {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
    
   .eventsbox {
       width: 25%;
   }

   header img:hover {
    transform: scale(1.08);
    transition: .2s;
   }

   .Dcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;
}

.Ditem img {
    display: block;
    max-width: 180px;
    margin: 0 auto;
    min-width: 0;
}


.Ditem img:hover {
    transform: scale(1.08);
    transition: .2s;
}

.Ditem {
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
}

.Ditem h2 {
    width: 250px;
}





.Dbuttons {
    display: block;
    position: relative;
    float: right;
    margin-right: 15px;
}

.Dbuttons img {
    max-width: 30px;
    margin-right: 10px;
}

.Dbuttons img:hover {
    transform: scale(1.08);
    transition: .2s;
}

.listview {
    display: flex!important;
    flex-direction: column;
}

.listview img {
    display: none;
}

.listview .Ditem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    padding-left: 10px;
    align-items: center;
}

.listview .website {
    display: block;
}

.listview .Ditem h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: left;
    width: auto;
}

.listview .Ditem a {
    justify-self: left;
}

textarea, select {
    min-width: 340px;
}

.footerContent {
    margin: 0 auto;
}

.social {
    margin: 0 50px;
}

img.tucsonpage {
    display: block;
    margin: 0 1em;
    border: 5px solid #0E0A4A;
    padding: 3px;
}

.tucsonimages {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.tucsonimages img {
    min-width: 0;
    margin: 1em;
    border: 5px solid #0E0A4A;
    padding: 3px;
}

}