@media screen and (min-width: 32.5em){

    
    body {
        background-image: url('/FinalProject/images/background_tucson-min2.png');
        width: 100%;
        background-color: #000000;
        max-width: 1566px;
        background-repeat: no-repeat;
        margin: 0 auto;
        background-position: top center;
    }
    
    nav ul {
        display: flex; 
       }
   nav ul li { 
       flex: 1 1 100%; 
   }

   .navigation {
       display: flex;
   

   }

    .navigation li:first-child {
       display: none;
   }

   .navigation li {
       display: block;
       flex: 1 1 auto;
   } 

   header {
       flex-direction: row;
       background-color: transparent;
       margin-bottom: 10px;
       justify-content: space-between;
       gap: 10px;
   }
   .headerLeft {
       width: 74%;
       background-image: linear-gradient(#FAF0DB, #A28F80);
     
       border: 5px solid #0E0A4A;
    }

    .headerLeft h1, h2{
        color: #0E0A4A!important;

    }
  
   .headerRight {
       width: 25%;

       background-color: #086375;
       margin-top: 0px;
       margin-right: 0px;
   }

   img.icon {
       display: block;
   }
   img.icon_mobile {
       display: none;
   }

   #temp {
       font-size: 3em;
       display: block;
       text-align: center;
       line-height: .8;
 
       margin-bottom: 10px;
   }

   #desc, #humid {
      
       font-style: italic;
       font-size: 1.2em;
        text-align: center;
        display: block;
   }


   header img {
       width: 25%;
   }

   header h2 {
       margin-top: -15px;
   }

   .homephotos {
       display: flex;
       width: 100%;
       gap: 5px;
       margin-top: 10px;
   }

   .homephotos img {
       min-width: 0;
   }

   .homephotos img:hover {
       transform: scale(1.08);
       transition: .2s;
   }

   .advertisements {
       display: flex;
       justify-content: space-around;
       max-width: none;
   }

   .adbox {
       width: 25%;
       margin-bottom: 0;
   }

   .adbox img:hover {
    transform: scale(1.08);
    transition: .2s;
   }

   .adbox p {
    color: #0E0A4A;
    text-align: center;
   }



   .forecast {
       background-color: #086375;
       width: 60%;
       margin: 1em auto;
       padding: 20px;
       display: block;
   }

   .forecast p {
       text-align: center;
       color: #FAF0DB;
   }

   aside {

       width: 90%;
       margin: 1em auto;
   }

   .eventcontainer {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
    
   .eventsbox {
       width: 25%;
   }

   header img:hover {
    transform: scale(1.08);
    transition: .2s;
   }
}